services:
  mariadb:
    image: mariadb:11
    restart: always
    container_name: bd-FitnessApp
    ports:
      - "${DB_PORT_LOCAL}:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASS}
      MYSQL_DATABASE: ${DB_NAME}
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - minha-rede

  api:
    build: .
    container_name: api-FitnessApp
    restart: always
    ports:
      - "${API_PORT}:3000"
    env_file:
      - .env
    environment:
      - NODE_ENV=docker
    volumes:
      - uploads_data:/app/uploads
    depends_on:
      - mariadb
    networks:
      - minha-rede

volumes:
  mariadb_data:
  uploads_data:

networks:
  minha-rede:
