services:
  api:
    build: .
    restart: always
    expose:
      - "3000"
    env_file:
      - .env
    environment:
      - NODE_ENV=docker
    volumes:
      - uploads_data:/app/uploads
volumes:
  uploads_data:

